body {
    font-family: 'Inter', sans-serif;
  }
  
.hero h1 {
    font-weight: bolder;
    font-family: 'inter', sans-serif
}
.hero p {
    font-family: 'inter', sans-serif;
}

.section {
    margin-bottom: 40px;
}

.card1 h5 {
    font-weight: bold;

}

.card-body{
    background-color: #60B5FF;
}
